.layout-sidebar {
    height: 100%;
    position: absolute;
    top: 0;

    background-color: rgba(255, 255, 255, 0.7);

    .layout-sidebar-main {
        transition: width 300ms ease-out 0s;
        border-right: 1px solid var(--chakra-colors-border-emphasized);
    }

    .layout-sidebar-content {
        overflow: auto;
        transition: width 300ms ease-out 0s;

        .content-section {
            .content-header {
                font-size: 1.5em;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 0.5rem 1rem;
            }

            .content-body {
                padding: 1rem;
            }
        }
    }
}
