{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react-hooks/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import", "react", "react-hooks"],
    "env": {
        "node": true,
        "browser": true
    },
    "root": true,
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "typescript": true,
            "node": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "@typescript-eslint/no-non-null-assertion": "off",

        // Disallow relative import into another package, e.g. `../other-package/foo`
        "import/no-relative-packages": "error"
    }
}
