# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.eslintcache
coverage
dist
temp
node_modules

# allow node_modules in vite-plugin/test-data to simulate dependencies
!build-tools/vite-plugin/test-data/**/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
