# Don't automatically link to workspace packages.
# One must use the explicit `workspace:...` protocol instead.
#
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=false
auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=true

# Workaround for current problems regarding our vite plugin + vite's optimizeDeps feature
shamefully-hoist=true

# Limits the path length of the virtual store directory (Default is 120).
# This is mostly helpful for windows users, where long paths can cause issues.
virtual-store-dir-max-length=60
