{
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": false,
    "quoteProps": "consistent",
    "printWidth": 100,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
