@media only screen and (max-width: 500px) {
    .search-top-center-placement {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 1;
    }
}

@media only screen and (min-width: 501px) {
    .search-top-center-placement {
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translate(-50%, 0px);
        width: 500px;
        z-index: 1;
    }
}

.spatial-bookmarks {
    max-height: 300px;
}

.result-list {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
