.overview-map {
    height: 200px;
    width: 300px;

    .ol-overviewmap {
        position: relative;
        height: 100%;
        width: 100%;

        &:not(.ol-collapsed) {
            border: 1px solid black;
        }

        .ol-overviewmap-map {
            border: none;
            width: 100%;
            height: 100%;
        }

        .ol-overviewmap-box {
            border: 2px solid red;
        }
    }
}
