.search-top-center-placement {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0px);
    width: 500px;
    z-index: 1;
}

.search-component .chakra-divider {
    display: none;
}

.search-highlighted-match {
    font-weight: bold;
}

.search-value-container {
    cursor: text;
    padding-left: 30px !important;
}

.search-invisible {
    display: none;
}

.search-option {
}

.search-no-match {
}

.search-loading-text {
}
