.search-component .chakra-divider {
    display: none;
}

.search-combobox-component input {
    cursor: text;
    padding-left: 30px !important;
}

.search-component-menu > * {
    /* Render react-select's menu on top */
    z-index: var(--chakra-z-index-modal) !important;
}

.search-component-menu .search-invisible {
    display: none;
}

.search-component-menu .search-highlighted-match {
    font-weight: bold;
}

.search-combobox-component .search-icon {
    position: absolute;
    left: 8px;
    box-sizing: 1.25em;
}

/* Exposition only

.search-option {
}

.search-no-match {
}

.search-loading-text {
} */
