.map-anchor.main-map-anchor {
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 48em) {
    .map-anchor.main-map-anchor {
        max-height: 45%;
    }
}

/* Set map focus style on map-anchor container to respect map padding inset 0*/
.map-container-root:has(> .map-container:focus-visible) .map-anchors::after {
    outline: none;
}
