.selection-drag-box {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 3px solid var(--chakra-colors-background_primary) !important;
}

.select-tooltip {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: black;
    padding: 4px 8px;
    opacity: 1;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
    font-weight: bold;
}

.map-container .spatial-selection-active {
    cursor: crosshair;
}
