.result-list-table-element thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--chakra-colors-background_body);
}

.result-list-table-element th {
    position: relative;
    border-right-width: thin;
}

.result-list-table-element .resizer {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 4px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    transform: translate(50%, 0px);
    padding-left: 0px;
}

.result-list-table-element .resizer.isResizing {
    background: var(--chakra-colors-background_primary);
    opacity: 1;
}

.result-list-table-element .result-list-sort-icon:focus-visible {
}

.result-list-table-element tbody tr:hover {
    background: var(--chakra-colors-background_light);
}

@media (hover: hover) {
    .result-list-table-element .resizer {
        opacity: 0;
    }

    *:hover > .resizer {
        opacity: 1;
    }
}

.no-data-message {
    margin-left: 45%;
    margin-top: 50px;
    font-weight: bold;
    font-size: larger;
}
