.measurement-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.8;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
    font-weight: bold;
}
.active-tooltip {
    opacity: 1;
}
.finished-tooltip {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.active-tooltip:before,
.finished-tooltip:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.finished-tooltip:before {
    border-top-color: #ffcc33;
}
