.search-highlighted-match {
    font-weight: bold;
}

.search-invisible {
    display: none;
}

.search-placement {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0px);
    width: 500px;
}

.search-no-match {
}

.search-loading-text {
}

/*.search-searchAsyncSelect,input:before {
    content: "";
!*    display: block;*!
    background: url("SearchIcon.png") no-repeat;
    width: 20px;
    height: 20px;
!*    float: left;
    margin: 0 6px 0 0;*!
}*/
