@import "ol/ol.css";

/* Move attribution according to map view's padding */
.map-container .ol-viewport .ol-attribution {
    bottom: var(--map-padding-bottom);
    right: var(--map-padding-right);
}

.map-container .map-anchors {
    pointer-events: none;
    overflow: hidden;

    position: absolute;
    top: var(--map-padding-top);
    bottom: var(--map-padding-bottom);
    left: var(--map-padding-left);
    right: var(--map-padding-right);

    transition-property: left, right, top, bottom;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.map-container .map-anchors .map-anchor {
    pointer-events: auto;
    z-index: 1;
    overflow: hidden;

    position: absolute;
    /* positioned absolute in .map-anchors, but actual coordinates are currently set via JS */
}
