name: Build and deploy
on:
  workflow_dispatch:
  push:
  pull_request:
env:
  DEFAULT_TIMEOUT: 1
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: ${{env.DEFAULT_TIMEOUT}}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint dependencies
        run: pnpm lint-shared-versions

      - name: Run tests
        run: pnpm ci:test

      - name: Build samples
        run: pnpm build

      - name: Build packages
        run: pnpm build-packages

      - name: Build API documentation
        run: pnpm build-docs

      - name: Create license report
        run: pnpm build-license-report;

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist/

  call_version:
    if: github.ref == 'refs/heads/main'
    name: "Publish or create version PR"
    uses: "./.github/workflows/version.yml"
    needs: test
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: ${{env.DEFAULT_TIMEOUT}}
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Load artifact
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dist/

      - name: Assemble site
        run: |
          set -eux;

          mkdir -p site;
          touch site/.nojekyll;
          mv dist/www/* site/;
          mv dist/docs site/docs;

      - name: Setup git
        shell: bash
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: open-pioneer/trails-demo
          token: ${{ secrets.DEPLOY_TOKEN }}
          git-config-name: "github-actions[bot]"
          git-config-email: "41898282+github-actions[bot]@users.noreply.github.com"
          folder: site
          target-folder: openlayers-base-packages
