name: Build and deploy
on:
  workflow_dispatch:
  push:
  pull_request:
jobs:
  test-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check lint
        run: pnpm lint

      - name: Run tests
        run: pnpm vitest run

      - name: Build app
        run: pnpm build

      - name: Build API documentation
        run: pnpm build-docs

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: test-and-build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: load artifact
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dist/

      # GH Pages uses Jekyll by default, which ignores files starting with _ (which we don't want)
      - name: disable jekyll
        shell: bash
        run: touch dist/.nojekyll

      - name: Setup git
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: open-pioneer/demo
          token: ${{ secrets.DEPLOY_TOKEN }}
          git-config-name: github-actions
          git-config-email: github-actions@github.com
          folder: dist
