name: Build and deploy
on:
  workflow_dispatch:
  push:
  pull_request:
jobs:
  # Performs quality checks
  checks:
    # Don't run for pull requests from this repository to avoid duplicate builds (push also triggers build).
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: "Run quality checks"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: open-pioneer/trails-repo-automation/.github/actions/install@main

      - name: Run tests
        run: pnpm ci:test

  # Builds samples and documentation and uploads contents of ./dist/ as an artifact ("build")
  build_site:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: "Build samples and documentation"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: open-pioneer/trails-repo-automation/.github/actions/install@main

      - name: Build samples
        run: pnpm build

      - name: Build API documentation
        if: github.ref == 'refs/heads/main'
        run: pnpm build-docs

      - name: Create license report
        run: pnpm build-license-report;

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: dist/
          retention-days: ${{ github.ref == 'refs/heads/main' && 7 || 1 }}

  # Builds all publishable packages
  build_packages:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: "Build packages"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: open-pioneer/trails-repo-automation/.github/actions/install@main

      - name: Build packages
        run: pnpm build-packages

  # Publishes packages using changesets
  version:
    if: github.ref == 'refs/heads/main'
    name: "Publish or create version PR"
    uses: "./.github/workflows/version.yml"
    needs:
      - checks
      - build_packages
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  # Deploys demo site
  deploy:
    if: github.ref == 'refs/heads/main'
    name: "Deploy site"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
      - checks
      - build_site
      - version
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # https://github.com/JamesIves/github-pages-deploy-action/issues/1928#issuecomment-3635092712
          persist-credentials: false

      - name: Load artifact
        uses: actions/download-artifact@v6
        with:
          name: build
          path: dist/

      - name: Assemble site
        run: |
          set -eux;

          mkdir -p site;
          touch site/.nojekyll;
          mv dist/www/* site/;
          mv dist/docs site/docs;

      - name: Deploy
        uses: open-pioneer/trails-repo-automation/.github/actions/deploy-demo@main
        with:
          src-repo: openlayers-base-packages
          target-path: ${{ needs.version.outputs.published == 'true' && 'latest' || 'dev' }}
          token: ${{ secrets.DEMO_DEPLOY_TOKEN }}
